{% extends "base.html" %}

{% block main %}
<div class="checkout_section">
    <div class="checkout_container">
        <div class="check-left">
            <h3>BILLING ADDRESS</h3>
            <form>
                Full name
                <input type="text" name="" placeholder="Enter name">
                Email
                <input type="text" name="" placeholder="Enter email">

                Address
                <input type="text" name="" placeholder="Enter address">

                City
                <input type="text" name="" placeholder="Enter City">
                <div id="zip">
                    <label>
                        County
                        <select>
                            <option>Choose County..</option>
                            <option>Carlow</option>
                            <option>Cavan</option>
                            <option>Clare</option>
                            <option>Cork</option>
                            <option>Donegal</option>
                            <option>Dublin</option>
                            <option>Galway</option>
                            <option>Kerry</option>
                            <option>Kildare</option>
                            <option>Kilkenny</option>
                            <option>Laois</option>
                            <option>Leitrim</option>
                            <option>Limerick</option>
                            <option>Longford</option>
                            <option>Louth</option>
                            <option>Mayo</option>
                            <option>Meath</option>
                            <option>Monaghan</option>
                            <option>Offaly</option>
                            <option>Roscommon</option>
                            <option>Sligo</option>
                            <option>Tipperary</option>
                            <option>Waterford</option>
                            <option>Westmeath</option>
                            <option>Wexford</option>
                            <option>Wicklow</option>
                        </select>
                    </label>
                    <label>
                        Zip code
                        <input type="number" name="" placeholder="Zip code">
                    </label>
                </div>
            </form>
        </div>
        <div class="check-right">
            <h3>PAYMENT</h3>
            <form>
                Accepted Card <br>
                <img src="/static/images/checkout/card1.png" width="100">
                <img src="/static/images/checkout/card2.png" width="50">
                <br><br>

                Credit card number
                <input type="text" name="" placeholder="Enter card number">

                Exp month
                <input type="text" name="" placeholder="Enter Month">
                <div id="zip">
                    <label>
                        Exp year
                        <select>
                            <option>Choose Year..</option>
                            <option>2022</option>
                            <option>2023</option>
                            <option>2024</option>
                            <option>2025</option>
                        </select>
                    </label>
                    <label>
                        CVV
                        <input type="number" name="" placeholder="CVV">
                    </label>
                </div>
            </form>
            <a href="{{ url_for('cart') }}" class="btn-hero">Cart</a>
        </div>
    </div>
</div>
{% endblock %}