{% extends "base.html" %}

{% block main %}
<div class="menu_section">
    <div class="menu-container-header">
        <h1>This Weeks Dishes</h1>
        <div class="menu-wrapper">
            <button onclick="filterDishes('all')" class="btn-hero">Show All</button>
            <button onclick="filterDishes('classic')" class="btn-hero">Classic Plan</button>
            <button onclick="filterDishes('plant-based')" class="btn-hero">Plant-Based Plan</button>
            <button onclick="filterDishes('family')" class="btn-hero">Family Plan</button>
        </div>
    </div>
    <div class="card-container">
        <div class="box-container">
            {% for dish in menu %}
            <div class="card-box" data-plans="{{ dish.plans }}">
                <img src="{{ dish.image }}" alt="{{ name }}" class="product-image">
                <h1>{{ dish.name }}</h1>
                <p><strong>Time:</strong> {{ dish.time }} minutes</p>
                <p><strong>Calories:</strong> {{ dish.calories }}</p>
                <p><strong>Carbohydrates:</strong> {{ dish.carbohydrates }}g</p>
                <p><strong>Protein:</strong> {{ dish.protein }}g</p>
                <p><strong>Fat:</strong> {{ dish.fat }}g</p>
                <p><strong>Allergens:</strong> {{ dish.allergens }}</p>
                <a href="{{ url_for('add_to_cart', dish_name=dish.name) }}" class="btn-hero">Add to Cart</a>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="btn-cart">
        <a href="{{ url_for('cart') }}" class="btn-hero">Cart</a>
    </div>
</div>

{% endblock %}