{% extends "base.html" %}
{% block main %}
<div class="wrapper">
    <h1>Sign Up</h1>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-{{ messages[0].category }}">
        {{ messages[0] }}
    </div>
    {% endif %}
    {% endwith %}
    <form class="form" method="post" action="/add_user">
        <input type="email" class="form-control" placeholder="name@example.ie" name="uemail"><br>
        <input type="text" class="form-control" placeholder="Name" name="uname"><br>
        <input type="password" class="form-control" placeholder="Password" name="upassword"><br>
        <input type="password" class="form-control" placeholder="Re-Enter Password" name="urepassowrd"><br>
        <input type="submit" class="button" value="Register">
    </form>
    <div class="terms">
        <input type="checkbox" id="checkbox">
        <label for="checkbox">I agree to these <a href="#">Terms & Conditions</a></label>
    </div>
    <div class="member">
        Already a member? <a href="/login">Login Here</a>
    </div>
</div>
{% endblock %}