<p># Terms and Conditions <br>

    1. Introduction
    <br><br>
    Welcome to Simply Chef! These terms and conditions outline the rules and regulations for the use of
    http://localhost:8080/.
    <br><br>
    By accessing this website, we assume you accept these terms and conditions in full. Do not continue to use Simply
    Chef if you do not accept all of the terms and conditions stated on this page.
    <br><br>
    2. License to Use
    <br><br>
    Unless otherwise stated, Simply Chef and/or its licensors own the intellectual property rights for all material
    on Simply Chef. All intellectual property rights are reserved. You may view and/or print pages from Simply Chef for
    your own personal use subject to restrictions set in these terms and conditions.
    <br><br>
    3. User Content
    <br><br>
    In these terms and conditions, "User Content" means material including text, images, audio, or any other form of
    data that you submit to [Your Website]. By submitting User Content, you grant Simply Chef a perpetual,
    irrevocable, royalty-free license to use, reproduce, modify, adapt, publish, translate, create derivative works
    from, distribute, perform, and display such User Content (in whole or part) worldwide and/or to incorporate it in
    other works in any form, media, or technology.
    <br><br>
    4. Limitations
    <br><br>
    In no event shall Simply Chef or its suppliers be liable for any damages (including, without limitation, damages
    for loss of data or profit or due to business interruption) arising out of the use or inability to use Simply Chef,
    even if Simply Chef or a Simply Chef authorized representative has been notified orally or in
    writing of the possibility of such damage.
    <br><br>
    5. Revisions
    <br><br>
    The materials appearing on [Your Website] may include technical, typographical, or photographic errors. Simply Chef
    does not warrant that any of the materials on its website are accurate, complete, or current. Simply Chef may make
    changes to the materials contained on its website at any time without notice.
    <br><br>
    6. Governing Law
    <br><br>
    These terms and conditions are governed by and construed in accordance with the laws of Ireland and you
    irrevocably submit to the exclusive jurisdiction of the courts in that location.
    <br><br>
    7. Contact Information
    <br><br>
    If you have any questions about these terms and conditions, please contact us at Jamie@wordpressupdates.ie.
    <br><br>
    Last updated: 02/09/2023
    <br><br>
    Simply Chef<br>
    Deerpark<br>
    F28HP74
</p>